@media only screen and (max-width: 2220px){
    h1{
        font-size: 2.3rem;
    }

    h2{
        font-size: 1.68rem;
    }

    h3{
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1880px){
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.46rem;
    }

    h3{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1650px){
    h1{
        padding-top: 4rem;
        font-size: 1.7rem;
    }

    h2{
        padding-top: 0.4rem;
        font-size: 1.25rem;
    }

    h3{
        padding-top: 0.2rem;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1450px){
    h1{
        padding-top: 4rem;
        font-size: 1.5rem;
    }

    h2{
        padding-top: 0.4rem;
        font-size: 1.1rem;
    }

    h3{
        padding-top: 0.2rem;
        font-size: 1.05rem;
    }

    legend{
        font-size: 1.6rem;
    }

    .email{
        height: 45px;
    }

    .email i{
        height: 45px;
    }

    .fa-paper-plane{
        padding-top: 15px;
    }

    .fa-arrow-right-long::before{
        font-size: 1.4rem;
    }

    .obs a{
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1250px){
    .sec-1{
        padding: 1.875rem 20vw;
        width: 100vw;
    }

    .sec-2{
        display: none;
    }

    h1{
        padding-top: 3rem;
        font-size: 1.56rem;
    }

    h2{
        padding-top: 0.4rem;
        font-size: 1.15rem;
    }

    h3{
        padding-top: 0.2rem;
        font-size: 1.15rem;
        line-height: 1.6rem;
    }

    .email{
        height: 42px;
    }

    .email i{
        height: 42px;
    }

    .email input{
        font-size: 0.9rem;
    }

    .fa-paper-plane{
        padding-top: 14px;
    }

    .fa-arrow-right-long::before{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1050px){
    .sec-1 img{
        width: 55vw;
    }

    h1{
        padding-top: 1rem;
        font-size: 1.56rem;
    }

    h2{
        padding-top: 0.4rem;
        font-size: 1.15rem;
    }

    h3{
        padding-top: 0.2rem;
        font-size: 1.15rem;
        line-height: 1.6rem;
    }

    .email{
        height: 42px;
    }

    .email i{
        height: 42px;
    }

    .email input{
        font-size: 0.9rem;
    }

    .fa-paper-plane{
        padding-top: 13px;
    }

    .fa-arrow-right-long::before{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 915px){
    .sec-1{
        padding: 1.875rem 13vw;
    }

    .sec-1 img{
        width: 50vw;
    }

    h1{
        padding-top: 1rem;
        font-size: 1.56rem;
    }

    h2{
        padding-top: 0.4rem;
        font-size: 1.15rem;
    }

    h3{
        padding-top: 0.2rem;
        font-size: 1.15rem;
        line-height: 1.6rem;
    }

    .email{
        height: 42px;
    }

    .email i{
        height: 42px;
    }

    .email input{
        width: 70vw;
        font-size: 0.9rem;
    }

    .fa-paper-plane{
        padding-top: 13px;
    }

    .fa-arrow-right-long::before{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 700px){
    .sec-1{
        padding: 1.875rem 5vw;
    }

    .sec-1 img{
        width: 45vw;
    }

    h1{
        padding-top: 0rem;
        font-size: 1.56rem;
    }

    h2{
        padding-top: 0.4rem;
        font-size: 1.15rem;
    }

    h3{
        padding-top: 0.2rem;
        font-size: 1.15rem;
        line-height: 1.6rem;
    }

    .email{
        height: 42px;
    }

    .email i{
        height: 42px;
    }

    .email input{
        width: 80vw;
        font-size: 0.9rem;
    }

    .fa-paper-plane{
        padding-top: 13px;
    }

    .fa-arrow-right-long::before{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 450px){
    .sec-1{
        padding: 1.875rem 5vw;
    }

    .sec-1 img{
        width: 45vw;
    }

    h1{
        margin-top: 4.5rem;
        padding-top: 0rem;
        font-size: 1.4rem;
    }

    h2{
        padding-top: 0.4rem;
        font-size: 1.15rem;
    }

    h3{
        padding-top: 0.2rem;
        font-size: 1.15rem;
        line-height: 1.6rem;
    }

    .email{
        height: 40px;
    }

    .email i{
        height: 40px;
        width: 39px;
    }

    .email input{
        width: 78.5vw;
        font-size: 0.9rem;
    }

    .fa-paper-plane{
        padding-top: 11.5px;
    }

    .fa-arrow-right-long::before{
        font-size: 1.2rem;
    }

    legend{
        font-size: 1.5rem;
    }

    .obs{
        margin-top: 5rem;
    }

    .obs a{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 375px){

    h1{
        font-size: 1.3rem;
    }

}